#header{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
}

#banner{
   
  
   padding: 32px;
   display: flex;
    justify-content: space-around;
    max-width: 1000px;
}


#fullbanner-background{
    background-color: #1F2937; 
    display: flex;
    justify-content: center;
    
}

#title-header{
    color:#F9FAF8;
    font-size: 24px;
}

#header-links a{
    text-decoration: none;
    color:#F9FAF8;
}

#header-links{
    display:flex;
    gap: 32px;
    align-items: center;
}

#description{
    display:flex;
    flex-direction: column;
    padding-right:64px;
    padding-left: 64px;
    display: flex;
  flex-basis: 700px;
  justify-content: center;
    
}
#comp-image{
    width: 250px;
    border-radius: 8px;
}

.image{
    display:flex;
    align-content: center;
    flex-shrink: 0;
    align-items: center;
}

#banner-header{
    color:#F9FaF8;
    font-size: 48px;
    font-weight: extra-bold;
    font-family: Courier New;
}

.banner-text{
    color:#E5E7EB;
    font-size: 18px;
}

.banner-button{
    width: 100px;
    background-color: #3882F6;
    border:none;
    border-radius:8px;
    padding: 4px;
    color: white;
}

.border-button{
    border: 1px solid white;
    max-height:25px;
    text-align:center;
    align-self: center;
    margin-left: 32px;
}

#info-header{
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#main-body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
}

#image-holder{
    display:flex;
    flex-direction: row;
    align-self: center;
    gap: 32px;
}

.course-image{
    max-width: 100px;
    border: 5px solid #555;
    
}

.image{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

#quote{
    background-color: #E5E7EB;
    padding: 32px;
    margin-bottom: 100px;
    display:flex;
    justify-content: center;
}

.quote-text{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    width: 60%;
}

.quote-by{
    display:flex;
    align-items: flex-end;
}

#sign-up{
    background-color: #3882F6;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-grow:0;
    padding: 32px;
    border-radius: 4px;
}

#sign-uptext{
    color: white;
    gap:0;
}

.bold{
    font-weight: bold;
}

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 32px;
}

